[submodule "third-party/gyp"]
	path = third-party/gyp
	url = https://chromium.googlesource.com/external/gyp.git
[submodule "third-party/googletest"]
	path = third-party/googletest
	url = https://git.chromium.org/git/external/googletest.git
